.main_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_top {
    padding: 40px 10vw 0 10vw;
    width: 100%;
    height: 90vh;
}

.home_top_heading {
    font-weight: 700;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_top_subheading {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25px;
}

.home_top_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.home_top_btn button {
    font-weight: 600;
    padding: 15px 20px;
    font-family: "Space Grotesk", sans-serif;
}

.button {
    --black-700: hsla(0 0% 12% / 1);
    --border_radius: 9999px;
    --transtion: 0.3s ease-in-out;
    --offset: 2px;

    cursor: pointer;
    position: relative;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    transform-origin: center;

    padding: 1rem 2rem;
    background-color: transparent;

    border: none;
    border-radius: var(--border_radius);
    transform: scale(calc(1 + (var(--active, 0) * 0.1)));

    transition: transform var(--transtion);
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: var(--black-700);

    border-radius: var(--border_radius);
    box-shadow: inset 0 0.5px hsl(0, 0%, 100%), inset 0 -1px 2px 0 hsl(0, 0%, 0%),
        0px 4px 10px -4px hsla(0 0% 0% / calc(1 - var(--active, 0))),
        0 0 0 calc(var(--active, 0) * 0.375rem) hsl(260 97% 50% / 0.75);

    transition: all var(--transtion);
    z-index: 0;
}

.button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: 100%;
    background-color: hsla(260 97% 61% / 0.75);
    background-image: radial-gradient(at 51% 89%,
            hsla(266, 45%, 74%, 1) 0px,
            transparent 50%),
        radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
        radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
    background-position: top;

    opacity: var(--active, 0);
    border-radius: var(--border_radius);
    transition: opacity var(--transtion);
    z-index: 2;
}

.button:is(:hover, :focus-visible) {
    --active: 1;
}

.button:active {
    transform: scale(1);
}

.button .dots_border {
    --size_border: calc(100% + 2px);

    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: var(--size_border);
    height: var(--size_border);
    background-color: transparent;

    border-radius: var(--border_radius);
    z-index: -10;
}

.button .dots_border::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transform: rotate(0deg);

    width: 100%;
    height: 2rem;
    background-color: white;

    mask: linear-gradient(transparent 0%, white 120%);
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.button .sparkle {
    position: relative;
    z-index: 10;

    width: 1.75rem;
}

.button .sparkle .path {
    fill: currentColor;
    stroke: currentColor;

    transform-origin: center;

    color: hsl(0, 0%, 100%);
}

.button:is(:hover, :focus) .sparkle .path {
    animation: path 1.5s linear 0.5s infinite;
}

.button .sparkle .path:nth-child(1) {
    --scale_path_1: 1.2;
}

.button .sparkle .path:nth-child(2) {
    --scale_path_2: 1.2;
}

.button .sparkle .path:nth-child(3) {
    --scale_path_3: 1.2;
}

@keyframes path {

    0%,
    34%,
    71%,
    100% {
        transform: scale(1);
    }

    17% {
        transform: scale(var(--scale_path_1, 1));
    }

    49% {
        transform: scale(var(--scale_path_2, 1));
    }

    83% {
        transform: scale(var(--scale_path_3, 1));
    }
}

.button .text_button {
    position: relative;
    z-index: 10;

    background-image: linear-gradient(90deg,
            hsla(0 0% 100% / 1) 0%,
            hsla(0 0% 100% / var(--active, 0)) 120%);
    background-clip: text;

    font-size: 1rem;
    color: transparent;
}

.home_top_stats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.home_top_stats_btn {
    cursor: alias;
    position: relative;
    padding: 30px 35px;
    background: #f5ddb7;
    font-size: 27px;
    color: #181818;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #ffffffb0;
    transition: all .3s ease-in-out;
    font-family: "Space Grotesk", sans-serif;
}

.icon_1,
.icon_2,
.icon_3,
.icon_4,
.icon_5 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
}

.icon_1 {
    z-index: -1;
}

.icon_2,
.icon_3,
.icon_4,
.icon_5 {
    z-index: -2;
}

.home_top_stats_btn:hover {
    padding: 20px 25px;
    border-radius: 8px 8px 24px 24px;
}

.home_top_stats_btn:hover .icon_1 {
    top: -250%;
    width: 50px;
    animation: inIcon1 1s ease .45s forwards;
}

@keyframes inIcon1 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    25% {
        transform: translate(-50%, 0) rotate(5deg);
    }

    50% {
        transform: translate(-50%, 0) rotate(1deg);
    }

    65% {
        transform: translate(-50%, 0) rotate(3deg);
    }

    100% {
        transform: translate(-50%, 0) rotate(0deg);
    }
}

.home_top_stats_btn:hover .icon_2 {
    top: -200%;
    left: 90%;
    width: 75px;
    animation: inIcon2 1s ease .45s forwards;
}

@keyframes inIcon2 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform: translate(-50%, 0) rotate(10deg);
    }

    50% {
        transform: translate(-50%, 0) rotate(4deg);
    }

    80% {
        transform: translate(-50%, 0) rotate(5deg);
    }

    100% {
        transform: translate(-50%, 0) rotate(0deg);
    }
}

.home_top_stats_btn:hover .icon_3 {
    top: -130%;
    left: 20%;
    width: 60px;
    animation: inIcon3 1s ease .45s forwards;
}

@keyframes inIcon3 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform: translate(-50%, 0) rotate(-2deg);
    }

    100% {
        transform: translate(-50%, 0) rotate(0deg);
    }
}

.home_top_stats_btn:hover .icon_4 {
    top: -300%;
    left: 10%;
    width: 85px;
    animation: inIcon4 1s ease .45s forwards;
}

@keyframes inIcon4 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    40% {
        transform: translate(-50%, 0) rotate(-3deg);
    }

    100% {
        transform: translate(-50%, 0) rotate(0deg);
    }
}

.home_top_stats_btn:hover .icon_5 {
    top: -350%;
    left: 90%;
    width: 85px;
    animation: inIcon5 1s ease .45s forwards;
}

@keyframes inIcon5 {
    0% {
        transform-origin: 0 100%;
        transform: translate(-50%, 0) rotate(0deg);
    }

    35% {
        transform: translate(-50%, 0) rotate(-3deg);
    }

    100% {
        transform: translate(-50%, 0) rotate(0deg);
    }
}

/* Leaf fill colors */
.fil_leaf_1 {
    fill: #7B9B3A;
}

.fil_leaf_2 {
    fill: #556729;
    fill-rule: nonzero;
}

.fil_leaf_3 {
    fill: #556729;
}

.fil_leaf_4 {
    fill: #3C4819;
}

.fil_leaf_5 {
    fill: #3C4819;
}

.home_bottom {
    background-color: #02233d;
    width: 100%;
    padding: 40px 10vw 50px 10vw;
}

.home_bottom_heading {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_bottom_features {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    cursor: alias;
    --bg: #f7f7f8;
    --hover-bg: #ffe5f4;
    --hover-text: #e50087;
    width: 250px;
    height: 170px;
    text-align: center;
    background: var(--bg);
    padding: 1.5em;
    padding-block: 1.8em;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition:
        0.3s cubic-bezier(0.6, 0.4, 0, 1),
        transform 0.15s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: black;
    transition: all 0.5s ease;
}

.card__body {
    color: #464853;
    line-height: 1.5em;
    font-size: 1em;
}

.card> :not(span) {
    transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card span {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--hover-text);
    border-radius: 5px;
    font-weight: bold;
    top: 100%;
    transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card:hover span {
    top: 0;
    font-size: 1.2em;
}

.card:hover {
    background: var(--hover-bg);
    box-shadow: 5px 6px 10px #e50086b0;
}

.card:hover>div {
    opacity: 0;
}



/* --------------------- */
/* Media Queries */

@media (max-width: 850px) {
    .home_top {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media (max-width: 780px) {
    .home_top_heading {
        font-size: 40px;
    }

    .home_top_subheading {
        font-size: 22px;
    }
}


@media (max-width: 500px) {
    .home_top {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        height: auto;
    }

    .home_top_heading {
        font-size: 25px;
    }

    .home_top_subheading {
        font-size: 17px;
    }

    .home_top_btn .button .text_button {
        font-size: 16px;
    }

    .home_top_btn .button .sparkle {
        width: 1.5rem;
    }

    .home_top_stats {
        margin-top: 120px;
    }

    .home_top_stats_btn {
        padding: 20px 25px;
        font-size: 24px;
    }

    .home_top_stats_btn:hover {
        padding: 16px 20px;
    }

    .home_bottom_heading {
        font-size: 25px;
    }

    .home_bottom_features {
        gap: 25px;
    }

    .card {
        width: 170px;
        height: 140px;
    }

    .card__body {
        font-size: 14px;
        font-weight: 500;
    }

    .card:hover span {
        font-size: 16px;
    }
}


@media (max-width: 460px) {
    .home_bottom_features {
        gap: 15px;
    }

    .card {
        width: 150px;
        height: 130px;
    }

    .card__body {
        font-size: 14px;
        font-weight: 500;
    }
}


@media (max-width: 420px) {
    .home_top_heading {
        font-size: 22px;
    }

    .home_top_subheading {
        font-size: 15px;
    }

    .home_top_btn .button .text_button {
        font-size: 14px;
    }

    .home_top_btn .button .sparkle {
        width: 1.2rem;
    }

    .home_top_stats_btn {
        padding: 17px 20px;
        font-size: 20px;
    }

    .home_top_stats_btn:hover {
        padding: 14px 18px;
    }
}


@media (max-width: 380px) {
    .home_top_heading {
        font-size: 20px;
    }

    .home_top_subheading {
        font-size: 14px;
        margin-top: 20px;
    }
}


@media (max-width: 350px) {
    .home_top_heading {
        font-size: 18px;
    }

    .home_top_subheading {
        font-size: 13px;
        margin-top: 18px;
    }
}